body {
  display: flex;
  background: url(http://www.backgroundsy.com/file/large/blank-graph-paper.jpg)
    no-repeat;
  background-size: 100%;
  /* background-color: hsla(0, 0%, 100%, 0.2); */
}

.container {
  width: 500px;
  border: 2px solid blue;
  margin-top: 5%;
  /* position: absolute; */
  /* transform: translateY(-50%); */
  border-radius: 8%;
  background-color: white;
  padding: 20px;
}

button {
  height: 70px;
  margin: 0.7em;
  box-shadow: 5px 5px 5px grey;
  border-radius: 30%;
  font-size: 20px;
}

button:hover {
  background: pink;
}

#display {
  height: 70px;
  font-size: 50px;
  text-align: right;
}

#rt-update {
  text-align: right;
}
